* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toDoList {
  height: 600px;
  width: 600px;
  /* display: flex; */
  /* background-color: aqua; */
}

ol {
  padding-left: 30px;
}

#Task-Input {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  background-color: beige;
}

#Add-Btn {
  height: 30px;
  width: 100px;
  margin-left: 40%;
  margin-top: 10px;
  border-radius: 10px;
}

#Task-List li {
  width: 100%;
}

.Delete-Btn {
  float: right;
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
