* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-code {
  height: 50%;
  width: 50%;
  background-color: beige;
}

#color-code h1 {
  font-size: 25px;
  font-weight: 900;
  padding-top: 20px;
}

#color-code input {
  height: 10%;
  width: 20%;
  text-align: center;
  display: flex;
  margin: 20px auto;
}

#color-code #generate-color {
  height: 10%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
